<div style="padding: 20px;">
  <h1>{{title}}</h1>
  <h2>{{description}}</h2>
  <nav>
    <a *ngIf="authority === 'admin' || authority === 'guest'" routerLink="home" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">Home</a>
    <a *ngIf="authority === 'admin'" routerLink="adminpane" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">Adminpane</a>
   <!-- <a *ngIf="authority === 'admin'" routerLink="admin" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">Users</a> -->
    <a *ngIf="authority === 'admin' || authority === 'guest'" routerLink="user" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">User</a>
   <!-- <a routerLink="add" class="btn btn-primary active" role="button" style="padding-right: 30px;" routerLinkActive="active">Add User</a> -->
   <!--  <a *ngIf="!authority" routerLink="login" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">Login0</a> -->
    <a *ngIf="!authority" routerLink="login2" class="btn btn-primary active" role="button" style="padding-right: 30px;"  routerLinkActive="active">Login</a>
   <!-- <a *ngIf="!authority" routerLink="register" class="btn btn-primary active" role="button" style="padding-right: 30px;" routerLinkActive="active">Register0</a> -->
    <a *ngIf="!authority" routerLink="register2" class="btn btn-primary active" role="button" style="padding-right: 30px;" routerLinkActive="active">Register</a>
  </nav>
   <router-outlet></router-outlet>
</div>


